.about-me {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (max-width: 768px) {
    .image-gallery {
        flex-direction: column;
    }

}

@media only screen and (min-width: 768px) {
    .image-gallery {
        flex-direction: row;
    }
}

.image-gallery {
    display: flex;
    gap: 20px;
}

.image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-item {
    position: relative;
}

.image-item img {
    width: 100%;
    border-radius: 5px;
    border: 1.5px solid #fff;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 1px;
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.image-gallery .image-item:hover .overlay {
    transform: scale(1);
}

.column p {
    text-align: justify;
    word-wrap: break-word;
}
/*
.about-me-measurements h2 {
    text-decoration: underline;
}

.about-me-measurements ul {
    list-style: none;
    line-height: 2em;
    padding-left: 5px;
}

.about-me-measurements ul span {
    font-weight: bold;
    font-size: 1.2em;
}*/